@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Vulcan
#131521

Geyser
#CEDAE1

Fountain Blue
#67A6BE

San Marino
#3E52AB
 */

body {
  font-family: "Gabarito", cursive;
  height: 100vh;
  width: 100vw;
  font-size: 1.2em;
  overflow: hidden;
}
html {
  background: url(starry-sky.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #cedae1;
}
/* Left section */
.left {
  color: #cedae1;
  width: 85%;
  height: 100%;
  left: 0;
  position: absolute;
  transition: transform 0.4s;
}
.left-text {
  margin-bottom: 20px;
}
.inner-intro-container,
.inner-about-container,
.inner-projects-container,
.inner-contact-container {
  position: relative;
  left: 20%;
  top: 25%;
}

.inner-about-container,
.inner-projects-container {
  width: 70%;
}
.inner-intro-container,
.inner-contact-container {
  width: 50%;
}
.inner-about-container,
.inner-contact-container,
.inner-projects-container {
  background-color: #3e52ab;
  padding: 30px;
  border-radius: 20px;
}
.about {
  margin-bottom: 15px;
}
.left > div {
  height: 100%;
  width: 100%;
}
.margin-bot {
  margin-bottom: 6px;
}
.projects a {
  position: relative;
}
.projects a:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cedae1;
}
.fa-brands {
  transition: font-size 0.1s;
}
.fa-brands:hover {
  font-size: 1.6em;
}
.extra-line-height {
  line-height: 120%;
}
/* Right section */
.right {
  background-color: #3e52ab;
  width: 15%;
  height: 50%;
  right: 0;
  position: absolute;
  color: #67a6be;
}
.right nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-item {
  font-size: 25px;
  margin-left: 2em;
  position: relative;
  display: flex;
}
.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cedae1;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}
.nav-item > div:hover {
  cursor: pointer;
}
.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}
.active {
  color: #7dcae9;
}
