@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #1a2a32;
  --secondary-color: #32281a;
  --tertiary-color: #321c1a;
  --text-color: white;
}
body {
  font-family: "Gabarito", cursive;
  background-color: var(--primary-color);
  color: var(--text-color);
  line-height: 1.5;
  transition: 0.4s;
}
.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}
.projects a:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
}
.toggle-button-container {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 20px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: 2px solid var(--tertiary-color);
  cursor: pointer;
  z-index: 5;
}
.toggle-button {
  position: absolute;
  left: 0px;
  height: 16px;
  width: 16px;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: transform 0.6s ease-in-out;
}
.switched {
  transform: translateX(20px);
}
.fa-brands:hover {
  font-size: 28px;
}
p {
  padding: 8px 0px;
}
.skills ul {
  padding: 8px 0px;
}
/*Navbar*/
.navbar {
  background-color: var(--secondary-color);
  width: 100%;
  height: 65px;
  border-top: 3px solid var(--tertiary-color);
  border-bottom: 3px solid var(--tertiary-color);
}
.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar ul li {
  margin: 0 30px;
  font-size: 20px;
  cursor: pointer;
}
.navbar ul li:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/*Display*/
.display {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
}
.profile-pic {
  width: 140px;
  border-radius: 50%;
  border: 3px solid var(--tertiary-color);
}

/*Glider*/
.glider-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.glider {
  margin-top: 30px;
  position: relative;
  height: 100%;
  width: 100%;
}
.about,
.projects-container,
.contact-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  transform: translateX(-100%);
  gap: 20px;
}
.projects-container,
.contact-container {
  transform: translateX(100%);
}
.skills,
.vision,
.projects,
.contact {
  border: 3px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  border-radius: 5%;
  padding: 20px;
  -webkit-box-shadow: 13px 13px 66px -3px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 13px 13px 66px -3px rgba(0, 0, 0, 0.72);
  box-shadow: 13px 13px 66px -3px rgba(0, 0, 0, 0.72);
}
.skills ul,
.projects ul,
.contact ul {
  margin-left: 15px;
}
.vision {
  width: 400px;
}
.skills {
  width: 300px;
}
.projects {
  width: 350px;
}
.contact {
  width: 300px;
}
@media (max-width: 750px) {
  .glider-container {
    height: 800px;
  }
  .about {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .skills,
  .vision,
  .projects,
  .contact {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .glider-container {
    height: 900px;
  }
  .navbar ul li {
    margin: 0 15px;
  }
}
